name: Package for the AUR

# Only run when pushed to main
on:
  push:
    paths:
      - aur/**
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  publish:
    strategy:
      fail-fast: false
      matrix:
        include:
          - pkgname: swayfx
            assets: |
              ./aur/swayfx/sway-portals.conf
              ./aur/swayfx/50-systemd-user.conf
              ./aur/swayfx/sway.install

          - pkgname: swayfx-git
            assets: |
              ./aur/swayfx-git/sway-portals.conf
              ./aur/swayfx-git/50-systemd-user.conf
              ./aur/swayfx-git/sway.install

          - pkgname: scenefx-0.1
          - pkgname: scenefx-0.2
          - pkgname: scenefx0.3
          - pkgname: scenefx-git

    runs-on: ubuntu-latest
    name: ${{ matrix.pkgname }}
    steps:
      - name: Check out sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Changed Files
        uses: tj-actions/changed-files@v46
        id: changed-files
        with:
          files: |
            aur/${{matrix.pkgname}}/**

      - name: Publish AUR Stable package
        uses: ulises-jeremias/github-actions-aur-publish@v1
        if: steps.changed-files.outputs.all_changed_and_modified_files_count > 0
        with:
          pkgname: ${{ matrix.pkgname }}
          pkgbuild: aur/${{matrix.pkgname}}/PKGBUILD
          assets: ${{ matrix.assets }}
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,ecdsa,ed25519
          update_pkgver: false
