name: Package for Copr repo

on:
  push:
    paths:
      - COPR/**
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  upload-copr:
    strategy:
      fail-fast: false
      matrix:
        pkgname: [ scenefx-0.1, scenefx, swayfx ]
    name: Upload ${{matrix.pkgname}}
    container: fedora:latest
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Changed Files
        uses: tj-actions/changed-files@v45.0.7
        id: changed-files
        with:
          files: |
            COPR/${{matrix.pkgname}}/**

      - name: Install API token for copr-cli
        if: steps.changed-files.outputs.all_changed_and_modified_files_count > 0
        env:
          # To generate a new token: https://copr.fedorainfracloud.org/api/.
          API_LOGIN: ${{ secrets.COPR_API_LOGIN }}
          API_USERNAME: ${{ secrets.COPR_API_USERNAME }}
          API_TOKEN_CONTENT: ${{ secrets.COPR_API_TOKEN }}
        run: |
          mkdir -p "$HOME/.config"
          # To generate a new token: https://copr.fedorainfracloud.org/api/.
          echo "[copr-cli]" >> "$HOME/.config/copr"
          echo "login = $API_LOGIN" >> "$HOME/.config/copr"
          echo "username = $API_USERNAME" >> "$HOME/.config/copr"
          echo "token = $API_TOKEN_CONTENT" >> "$HOME/.config/copr"
          echo "copr_url = https://copr.fedorainfracloud.org" >> "$HOME/.config/copr"

      - name: Install dependencies
        if: steps.changed-files.outputs.all_changed_and_modified_files_count > 0
        run: |
          dnf -y install copr-cli rpkg @rpm-development-tools

      - name: ${{matrix.pkgname}} Download RPM Spec sources
        if: steps.changed-files.outputs.all_changed_and_modified_files_count > 0
        run: |
          cd COPR/${{matrix.pkgname}}
          spectool -g ./${{matrix.pkgname}}.rpkg.spec

      - name: ${{matrix.pkgname}} Submit the build to copr
        if: steps.changed-files.outputs.all_changed_and_modified_files_count > 0
        run: |
          cd COPR/${{matrix.pkgname}}
          ls *.spec
          rpkg -v copr-build -w ${{ secrets.COPR_REPO_NAME }}
